.rodape {
    background: #6278f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 42px 0;
}

.rodape p {
    color: white;
}

.rodape div {
    display: flex;
    gap: 44px;
}

.rodape div img {
    cursor: pointer;
}
